<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f88731be-30e6-41b4-91b5-1ad0c98481ce/resourcegroups/StrixSchedule_ResourceGroup/providers/Microsoft.Web/sites/StrixSchedule</ResourceId>
    <ResourceGroup>StrixSchedule_ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://strixschedule.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>strixschedule.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StrixSchedule</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StrixSchedule</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:strixscheduledbserver.database.windows.net,1433;Initial Catalog=StrixSchedule_db;User ID=chturi@strixscheduledbserver;Password=Blizzard10!" Name="Data Source=tcp:strixscheduledbserver.database.windows.net,1433;Initial Catalog=StrixSchedule_db;User Id=chturi@strixscheduledbserver;Password=Blizzard10!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Strix_Schedule.Models.ApplicationDbContext, Strix_Schedule" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResourceEventContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:strixscheduledbserver.database.windows.net,1433;Initial Catalog=StrixSchedule_db;User ID=chturi@strixscheduledbserver;Password=Blizzard10!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Strix_Schedule.ResourceEventContext, Strix_Schedule" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ResourceEventContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:strixscheduledbserver.database.windows.net,1433;Initial Catalog=StrixSchedule_db;User ID=chturi@strixscheduledbserver;Password=Blizzard10!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Employee_Schedule_DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EmployeeModel.csdl|res://*/EmployeeModel.ssdl|res://*/EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Turi\Documents\Visual Studio 2015\Projects\Strix_Schedule\Strix_Schedule\App_Data\Employee_Schedule_Database.mdf";Persist Security Info=True;User ID=chturi;Password=Blizzard10!;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:strixscheduledbserver.database.windows.net,1433;Initial Catalog=StrixSchedule_db;User Id=chturi@strixscheduledbserver;Password=Blizzard10!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>